# SPDX-FileCopyrightText: 2023 Fox Crypto B.V.
# SPDX-License-Identifier: CC-BY-4.0

# default: normalize EOL
* text=auto

# Boilerplate
.gitattributes   text
.txt             text
.md              text

# Documentation (built on Linux)
docs/.nojekyll   text eol=lf
docs/**/*.txt    text eol=lf
docs/**/*.css    text eol=lf
docs/**/*.html   text eol=lf
docs/**/*.js     text eol=lf
docs/**/*.map    text eol=lf
docs/**/*.md5    text eol=lf
docs/**/*.svg    text eol=lf

*.png     binary
*.ttf     binary
*.woff    binary
*.woff2   binary
